# Minimalne wymagania dla uruchomienia projektu
python>=3.12

pandas>=1.3,<2
numpy>=1.21,<2
scikit-learn>=1.0,<2
xgboost>=1.6,<2
joblib>=1.1
matplotlib>=3.4
seaborn>=0.11
shap>=0.41
optuna>=3.0
category_encoders>=2.6
scipy>=1.7
tqdm>=4.60

# Opcjonalne / przydatne
openpyxl>=3.0    # jeśli eksport/odczyt excel